/*
----------------------------------------------------
* 파일 이름  : LayoutType_L.css
* 버전 정보 : 1.1
* 메뉴 : 공통
* 작성자 : 프리챌 디자인센터 윤소정(sommi@freechal.com)
* 작성일 : 2006.08.28
* 설명 : 레이아웃 타입을 지정한 스타일 - 2단 좌측메뉴
* 수정일 : 2007.01.23
* 수정자 :
----------------------------------------------------
*/

/* 2단 가이드(좌) */
#CL_wrap    { float:left; width:150px; max-width:150px; }
#CC_wrap    { float:left; width:810px; max-width:795px; padding-left:15px; }
#CB_wrap    { padding:15px 0 0 0;}             /*2단일 때*/
#IC_wrap    { float:left; width:810px; }

/* 커버스토리 조정*/
#CoverLine	 		{ float:left; height:3px; width:810px; max-width:810px; }
#CoverLine01 		{ float:left; height:1px; width:808px; max-width:810px; }
#CoverLine02 		{	float:left; height:1px; width:809px; max-width:810px; }
#CoverLine03 		{	float:left; height:1px; width:795px; max-width:791px; border-style:solid; border-right-width:4px; }
#CoverLine04 		{ float:left; height:1px; width:795px; max-width:795px; }
#CoverLine06 		{	float:left; height:1px; width:794px; max-width:795px; }
#CoverLine07 		{ float:left; height:1px; width:793px; max-width:795px; }
#CoverLine05		{ float:left; height:1px; width:810px; max-width:810px; }	/*추가라인*/
#CoverContents 	{ position:relative; float:left; clear:both; width:795px; max-width:792px; line-height:1.6em; border-style:solid; border-right-width:3px; }/*수정(20061023)*/
#CoverTitle 		{ font-size:16px; font-weight:bold; line-height:1.4em;}
#CoverImage     { float:left; padding:9px 20px 9px 0; }	/*수정(20061018)*/
#CoverImage img { vertical-align:top; }											/*수정(20061018)*/
#CoverConTxt		{ float:left; padding:15px 0 5px 0; width:542px;}											/*수정(20061023)*/
#CoverSubTitle  { position:relative; clear:both; width:532px; margin-bottom:15px;padding:8px 0; line-height:1.4em;}/*수정(20061023)*/
#CoverImgContents	{ float:left; clear:both; width:795px; max-width:615px; }
#CoverList 				{ position:relative; height:40px; top:-15px; }		/*추가(20061023)*/
#CorverBtn 				{ position:absolute; z-index:5; height:20px; bottom:5px; right:10px; }/*수정(20061023)*/
#CorverBtn02 			{ clear:both; position:relative; padding-top:10px; margin:0 10px 0 0;text-align:right; }/*수정(20061121)*/

/********************************************************/
/* 메뉴 */
#MD 							{ width:150px;}
#MD samp,#MD #MD9 { display:block;height:1px;overflow:hidden;}
#MD #MD1 					{ margin-left:2px; }
#MD #MD2 					{ margin-left:1px; }
#MD #MD8 					{ margin:0px 1px; }
#MD #MD9 					{ margin:0px 2px; }

#MD #MD3,#MD #MD7 { border-style:solid; border-width:0px 4px; }				/* 수정된 테두리 */
#MD #MD6 					{ padding:0; font:8pt "돋움"; border-style:solid; border-width:0px 3px;}	/* 수정된 테두리 */
#MD #MD10 				{ border-style:solid;border-width:0 0 0 1px;}				/* 추가된 테두리 */

/* 2008-09-24 컨텐츠 포켓 수정 및 추가 start */
/* 다녀간 회원 박스 */
#RV 					{ float:left; width:186px; max-height:148px; margin-right:10px; }
#RV samp, #RV #RV5	{ display:block;height:1px;overflow:hidden;}
#RV #RV1			{	margin:0px 2px}
#RV #RV3			{	margin:0px 1px; border-style:solid; border-width:0px 1px; }
#RV #RV5			{	padding:3px 4px; height:144px; max-height:138px;  }
#RV samp, #RV #RV5	{	border-style:solid;border-width:0px 1px;}

/* 화제 동영상 박스 */
#RI 					{	float:left; width:186px; max-height:148px; margin-right:10px; }
#RI samp 			{	display:block; height:1px;overflow:hidden;}
#RI #RI1			{	margin:0px 2px}
#RI #RI1, #RI #RI5	{	border-style:solid; border-width:0px 1px; }
#RI #RI3			{	clear:both; margin:0px 1px; border-style:solid; border-width:0px 1px; }
#RI #RI5			{	float:left; padding:3px 4px;height:144px;  width:186px; max-width:178px; }

/* 동영상 뉴스 박스 */
#RN 					{	float:left; width:186px; max-height:148px; margin-right:10px; }
#RN samp 			{	display:block; height:1px;overflow:hidden;}
#RN #RN1			{	margin:0px 2px}
#RN #RN1, #RN #RN5	{	border-style:solid; border-width:0px 1px; }
#RN #RN3			{	clear:both; margin:0px 1px; border-style:solid; border-width:0px 1px; }
#RN #RN5			{	float:left; padding:3px 4px;height:144px;  width:186px; max-width:178px; }

/* Enjoy 프리챌 박스 */
#RE 					{	float:left; width:186px; max-height:148px;}
#RE samp 			{	display:block; height:1px;overflow:hidden;}
#RE #RE1			{	margin:0px 2px}
#RE #RE1, #RE #RE5	{	border-style:solid; border-width:0px 1px; }
#RE #RE3			{	clear:both; margin:0px 1px; border-style:solid; border-width:0px 1px; }
#RE #RE5			{	float:left; padding:3px 4px;height:144px;  width:186px; max-width:178px; }
/* 2008-09-24 컨텐츠 포켓 수정 및 추가 end */


/* 우리 컴티 섬 박스 */
#RS 				{ 	float:left; width:191px; max-height:148px; margin-right:10px; }/*1120*/
#RS samp 			{ 	display:block;height:1px;overflow:hidden;}
#RS #RS1			{	margin:0px 2px}
#RS #RS3			{	margin:0px 1px; border-style:solid; border-width:0px 1px; }
#RS #RS5			{	position:relative; padding:3px 4px; height:144px; max-height:138px; }/*수정(20061023)*/
#RS samp, #RS #RS5	{	border-style:solid;border-width:0px 1px;}

/* 화제Q&화제섬 박스 */
#RFocus 		{ float:left; width:190px; max-height:148px; margin-right:10px; }/*1120*/
#RFocus samp 	{ display:block;height:1px;overflow:hidden; }
#RFocus #RF1 { margin:0px 2px; }
#RFocus #RF3 { margin:0px 1px; border-style:solid; border-width:0px 1px; }
#RFocus #RF5 { padding:10px 11px; height:120px; max-height:100px;}
#RFocus samp, #RFocus #RF5 { border-style:solid; border-width:0px 1px; }

/* 화제톡톡 & 화제뉴스 박스 */
#RFocusBBS 		{ float:left; width:190px; max-height:148px; margin-right:10px; }/*1120*/
#RFocusBBS samp 	{ display:block; height:1px; overflow:hidden; }
#RFocusBBS #RF1 { margin:0px 2px; }
#RFocusBBS #RF3 { margin:0px 1px; border-style:solid; border-width:0px 1px; }
#RFocusBBS #RF5 { padding:10px 11px; height:120px; max-height:100px;}
#RFocusBBS samp, #RFocusBBS #RF5 { border-style:solid; border-width:0px 1px;}

/* 화제톡톡 & 화제뉴스 박스 */ /* 우리 컴티 섬이 있을경우  ID */
#RFocusBBS02              { float:left; width:190px; max-height:148px;}/*1120*/ 
#RFocusBBS02 samp        { display:block; height:1px; overflow:hidden; }
#RFocusBBS02 #RF1 { margin:0px 2px; }
#RFocusBBS02 #RF3 { margin:0px 1px; border-style:solid; border-width:0px 1px; }
#RFocusBBS02 #RF5 { padding:10px 11px; height:120px; max-height:100px;}
#RFocusBBS02 samp, #RFocusBBS02 #RF5 { border-style:solid; border-width:0px 1px;}

/* 만화가게 여행 UCC 20070821 추가*/
#TravelUcc 		{ float:left; width:191px; max-height:148px; }/*1120*/
#TravelUcc samp 	{ display:block; height:1px; overflow:hidden; }
#TravelUcc #RF1 { margin:0px 2px; }
#TravelUcc #RF3 { margin:0px 1px; border-style:solid; border-width:0px 1px; }
#TravelUcc #RF5 { padding:10px 11px; height:120px; max-height:100px;}
#TravelUcc samp, #TravelUcc #RF5 { border-style:solid; border-width:0px 1px;}

/********************************************************/
/*  서브 화면 컨텐츠 영역 */
#AC_wrap 			{ float:left; width:795px; max-width:765px; padding:0 0 0 15px; display:block; }/* 20070123 수정 */
#AR_wrap 			{ float:right; width:120px; max-width:140px; display:none; }/* 20070615 수정 */
#SubTopLine		{ float:left; height:3px; width:810px; max-width:810px; }
#ContentsMain { width:786px; padding-top:14px; }			/* 20070123 수정 */
#SubTitle 		{	position:relative; top:0; width:786px; max-width:764px; }
#SubTableBtn	{ position:absolute;top:16px;right:15px;z-index:2;}

/* 서브 화면 커버 스토리 */
.CoverType		{ clear:both; margin:0 14px; width:752px; max-width:752px; padding:0 }
.CoverComment table {	border-collapse: collapse;}
.CoverComment .emo  	{ max-width:20px; width:22px; padding:5px 1px 0 1px; }
.CoverComment .nicname 	{ line-height:16px; width:86px; padding:7px 0 5px 0; }
.CoverComment .cmtxt 		{ line-height:16px; padding:8px 0 5px 0; }/* width:631px;*/
.CommentTxtArea	{ width:618px; max-width:623px; height:37px; overflow:auto; padding:4px; line-height:16px; }
.CommentBtn	img { vertical-align:top;}
#IComment				{ width:734px; max-width:752px; height:55px; }

/********************************************************/
/* 메인 게시판 */
#MBoardTdList			{ clear:both; float:left; margin-top:1px; padding-bottom:10px;}
#MBoardTitle			{ clear:both; position:relative; left:0; padding-top:19px; height:30px; max-height:20px; }	/*수정(20061018)*/
#MBoardTitle02		{ clear:both; position:relative; left:0; height:30px; max-height:20px; }	/*추가-20070201*/
#MBoardTitle img, #MBoardTitle02 img	{ position:relative;top:-1px;margin-right:4px }				/*추가-20070201*/
#MBoardImg				{ position:absolute; left:120px; bottom:0;  max-height:40px;}
.MBoardTdTitle 		{ clear:both; height:23px; padding-left:20px; padding:6px 0 3px 0;}html>body .MBoardTdTitle {height:19px;padding:6px 0 0 0}
.MBoardTitle			{ font-size:14px; font-weight:bold; padding:4px 7px; }
.MBoardTitleBg01 	{ max-width:795px; width:100%; max-width:100%; height:2px; font-size:1px; }
.MBoardTdTxt 			{ font-weight:bold; text-align:center; }	

.MBoardTdTitle table, #MBoardTdList table {
	width:786px;
	table-layout: fixed;
	border-collapse: collapse;
}
.td_board01 {width:64%;}
.td_board02 {width:14%;text-align:center;}
.td_board03 {width:22%;text-align:center;}

/* 메인 사진첩*/
#MPhotoList 			{ width:795px; margin-bottom:5px;}
#MPhotoList samp	{ display:block;height:1px;overflow:hidden;}
#MPhotoList #MP1	{ margin:0px 2px}
#MPhotoList samp, #MP #MP5	{ border-style:solid;border-width:0px 1px;}
#MPhotoList #MP3	{ margin:0px 1px}
#MPhotoList #MP5	{ padding:10px 17px; } /*20070122 수정*/

#MPhotoBox { border-collapse: collapse; }
#MphotoBoxS {
	width:104px;
	height:104px;
	table-layout:fixed;
	border-collapse:collapse;
	border:#D5D5D5 1px solid;
}
#MphotoBoxT {
	width:104px;
	table-layout: fixed;
	border-collapse: collapse;
}
#MphotoBoxT td {text-align:center;}

/* 덧글 게시판 */
#Comment					{ clear:both; width:786px; }
#Comment table.CommentList {
	width:752px;
	table-layout: fixed;
	border-collapse: collapse;
	margin:4px 14px;
}
#Comment table.CommentList td  				{ vertical-align:top;padding-top:9px;}
#Comment table.CommentList td.emo  		{ max-width:20px; width:22px; padding:7px 1px 0 1px; }
#Comment table.CommentList td.nicname	{ width:86px; }/*닉네임 처리부분 6자기준*/
#Comment table.CommentList td.cmtxt  	{ padding-bottom:7px;}

#CommentWrite {clear:both;position:relative;width:784px;}
#CommentWrite table {
	margin:7px 0 8px 5px;
	table-layout: fixed;
	border-collapse: collapse;
}
#CommentWrite table td {vertical-align:top;}
#CommentWrite table td.emo_sel {width:49px;}
#CommentWrite table td.CmtTxt	 {position:relative;width:651px;}
#CommentWrite table td.CmtTxt	textarea.CommentTextArea { width:646px; height:39px; overflow:auto; line-height:1.4em;}
#CommentWrite table td.CommentBtns 			{width:68px;}
#CommentWrite table td.CommentBtns img 	{vertical-align:top;margin-top:3px;}
#CommentWrite table table.emotableimg 	{width:37px;height:24px;}
#CommentWrite table table.emotableimg td {padding:0;}
#CommentWrite table table.emotableimg td.emotd {padding:3px 0 0 0;}

#CommentWrite td.emo_sel table.emotableimg {width:37px;height:20px;margin-top:2px;}
#CommentWrite td.emo_sel #EmoList {display:none;position:absolute;left:42px;top:3px;z-index:2;}
#CommentWrite td.emo_sel #EmoList table td.emosubtdlist	{ padding:3px; width:24px; height:23px; text-align:center; }/*덧글게시글-이모티콘*/

/* 덧글 게시판 */
/*
#Comment					{ clear:both; width:786px; }
#Comment table {
	width:756px;
	table-layout: fixed;
	border-collapse: collapse;
	margin:4px 14px;
}
#Comment table td  				{ vertical-align:top;padding-top:9px;}
#Comment table td.emo  		{ max-width:20px; width:22px; padding:7px 1px 0 1px; }
#Comment table td.nicname	{ width:78px; }
#Comment table td.cmtxt  	{ padding-bottom:7px;}
#IFrameComments		{ clear:both; padding:7px 16px 0 16px;}
#IFComment 				{ width:606px;}html>body #IFComment {width:610px;height:55px;}
.CommentTextArea	{ width:636px; height:39px; overflow:auto; padding:1px 4px; line-height:1.4em;}
.CommentBtns  		{ padding:2px 0 0 5px; }
.CommentBtns	img { vertical-align:top;}
*/

/* 태그 20070615 추가 */
#TagInfo {position:relative;clear:both;width:786px; background:url(../img/common/white/tag_box_bottom2.gif) 0 bottom no-repeat;margin:6px 5px;}
html>body #TagInfo {float:left;}
*html #TagInfo {margin:10px 0 10px 5px;}
#TagInfo dl {background:url(../img/common/white/tag_box_top2.gif) 0 0 no-repeat;text-align:left;padding:10px 0 0 17px;}
#TagInfo dl dt {padding-left:26px;background:url(http://image.freechal.com/QTV/ico/ico_tag02.gif) 0 4px no-repeat; float:left} /* 20070528 수정 */
#TagInfo dl dt input.input {width:204px;border:1px solid #B1B7CC;margin-right:4px;}
#TagInfo dl dt img {margin-top:1px;vertical-align:top;margin-left:-2px;}
#TagInfo dl dt img.taginfo {margin-left:4px;}
#TagInfo dl dd {padding:6px 6px 6px 26px; clear:both} /* 20070528 수정 */
#TagInfo dl dd a {margin-right:10px;}
#TagInfo dl dd img.del {margin:1px 5px 0 -8px;}

/* 메인 전체 동영상  20070821 */
.AllPlayTit {clear:both; background:url(http://image.freechal.com/community/common/ico_play.gif) 7px 0 no-repeat; padding:0 0 7px 23px; color:#333; font-weight:Bold; font-size:14px}
.AllPlayTitList {clear:both; background:url(http://image.freechal.com/community/common/play_bg.gif) 0 0 no-repeat; width:795px; height:123px; padding:16px 0 0 25px; margin-bottom:20px}
.AllPlayTitList table .bcb {border:2px solid #BBB}
.AllPlayTitList table .bcf {border:2px solid #FFF}
.AllPlayTitList table .txt-link {padding:3px 0 0 0}
.AllPlayTitList table .txt-link a {color:#777}

/*2007-10-23 커뮤니티 가입 탈퇴 */
#memberTitle {
	position:relative;
	width:795px;
	max-width:778px;
	background:url('http://image.freechal.com/community/admin/m_bu01.gif') 0 0 no-repeat;
	margin:10px 0 0 0;
	padding:0 0 4px 17px;
	font-size:14px;
	font-weight:bold; 
	border-bottom:#D8D8D8 solid 1px;
}
#memberTitle1 {
	position:relative;
	width:795px;
	max-width:778px;
	background:url('http://image.freechal.com/community/admin/m_bu01.gif') 0 0 no-repeat;
	margin:10px 0 0 0;
	padding:0 0 4px 17px;
	font-size:14px;
	font-weight:bold; 
	border-bottom:none;
}
#stit-disapprovalCmnty{text-align:center;margin:20px 0 15px 0;}
.rndBoxOut{background:url(http://image.freechal.com/community/common/rndBoxBtmGL.gif) bottom no-repeat;width:795px;}
.rndBoxIn{background:url(http://image.freechal.com/community/common/rndBoxTopGL.gif) top no-repeat;width:795px;}
.txt_msg{background:url(http://image.freechal.com/community/common/img_illust01.gif) 40px 22px no-repeat;padding:20px 30px 25px 190px;color:#666;line-height:16px;}
p.txtGreeting{clear:both;font-weight:bold;padding:3px 0 10px 0;}
span.cmntyName{color:#000;font-size:13px;}
.cmntyBtn{;text-align:center;margin-top:10px;}
.cmntyBtn img{margin-right:4px;}
.cj_txt01{line-height:16px;color:#666666;padding:15px 0 10px 10px;}
.cjTit{padding:15px 0 5px 10px;}
.tpad15{padding-top:15px;}
#etiquette{margin:0px 40px 0 50px;}
#etiquette li{padding:0 0 0 150px;color:#666666;}
#etiquette li.no1{background:url(http://image.freechal.com/community/common/img_illust02.gif) 0 20px no-repeat;height:110px;}
#etiquette li.no2{background:url(http://image.freechal.com/community/common/img_illust03.gif) 0 5px no-repeat;height:110px;}
#etiquette li.no3{background:url(http://image.freechal.com/community/common/img_illust04.gif) 0 32px no-repeat;height:124px;}
#etiquette li p{padding:15px 0 20px 0; border-bottom:1px solid #E3E3E3;}
#etiquette li p img{margin-bottom:12px;}
#etiquette li.no3 p{border:none;}
p.masterGreeting{padding:15px 35px 15px 35px;color:#666666;line-height:16px;}
p.masterGreeting img{margin-bottom:5px;}
#secede{width:100%;border:1px solid #D5D5D5;}
#secede th,#secede td{border:1px solid #ffffff;}
#secede th{background:#EFEFEF;font-size:12px;color:#666666;font-weight:normal;width:150px;border:1px solid #ffffff;}
#secede td textarea{width:628px;height:96px;border:none;}

#msgBox{background:url(http://image.freechal.com/community/common/bg_cjBox02.gif) no-repeat;width:795px;height:181px;position:relative;}/*2007-11-08*/
#msgBox div,#msgBox em,#msgBox p{width:384px;margin-left:254px;}
#msgBox div.stit{margin:0 0 10px 254px;padding-top:25px;}/*2007-11-08*/
#msgBox em{color:#E05E00;font-style:normal;}
#msgBox p{line-height:16px;color:#666;margin-top:15px;height:80px;overflow:hidden;}/*2007-11-08*/
#msgBox #photo{position:absolute;top:15px;left:-235px;}/*2007-11-08*/
#tbl_quiz{border-collapse:collapse;margin-top:10px;width:100%;background:#FBFBFB;}
#tbl_quiz th{font-weight:bold;font-size:12px;color:#888;text-align:left;padding-left:13px;width:120px;}
#tbl_quiz td{font-size:12px;color:#333333;text-align:left;}
#tbl_quiz td input{border:#D5D5D5 solid 1px;width:360px;vertical-align:middle;}
#tbl_quiz .dotTop{background:url(http://image.freechal.com/community/common/dot.gif) top repeat-x;padding-top:8px;padding-bottom:3px;}
#tbl_quiz .dotBtm{background:url(http://image.freechal.com/community/common/dot.gif) bottom repeat-x;padding-top:4px;padding-bottom:7px;}
#inputInfo{}
#inputInfo h3{padding:18px 0 5px 5px;}
#inputInfo ul{margin:8px;}
#inputInfo li{line-height:18px;color:#888;}
#inputInfo table{border-collapse:collapse;width:100%;border-bottom:#E0E5E9 solid 1px;}
#inputInfo table th{color:#8D95A0;font-size:12px;background:#F6FBFF;border-top:#E0E5E9 solid 1px;text-align:left;width:110px;padding:10px 0 10px 12px;}
#inputInfo table td{color:#888888;font-size:12px;border-top:#E0E5E9 solid 1px;text-align:left;padding:6px 0 6px 12px;}
#inputInfo td input{border:#D5D5D5 solid 1px;width:360px;vertical-align:middle;}
#inputInfo td.choice{text-align:right;padding-right:10px;vertical-align:top;}
#inputInfo td.choice input{width:20px;border:none;margin-left:5px;}
#inputInfo td.addchoice{text-align:left;padding-right:10px;vertical-align:top;}
#inputInfo td.addchoice input.choice{width:20px;border:none;}
#inputInfo td p.smtxt{font-size:11px;color:#898989;padding-top:5px;}
#inputInfo td p.smtxt a{color:#FE6C00;text-decoration:underline;}
#inputInfo td input.year{width:60px;margin-right:5px;}
#inputInfo td input.month{width:30px;margin-right:5px;}
#inputInfo td input.day{width:30px;margin-right:5px;}
#inputInfo td input.solar,#inputInfo td input.lunar,#inputInfo td input.married,#inputInfo td input.single{border:none;width:20px;margin-left:5px;}
.lpad0{padding-left:0px;}
.lmar10{margin-left:10px;}
.rmar5{margin-right:5px;}
#inputInfo td input.address,#inputInfo td input.major,#inputInfo td input.phone{width:60px;}
#inputInfo td textarea.selfIntro{width:475px;height:60px;}
#inputInfo td select{vertical-align:middle;width:60px;}
#inputInfo td select.jobSelect,#inputInfo td select.deptSelect,#inputInfo td select.locationSelect,#inputInfo td select.religionSelect,#inputInfo td select.hometownSelect{width:230px;}
#inputInfo td input.familyOrigin{width:135px;}
#inputInfo td input.schoolName{width:90px;}
#inputInfo td input.schoolyear{width:45px;}
#inputInfo td input.fstName{width:60px;margin-left:10px;}
#inputInfo td img{vertical-align:middle;}
#inputInfo td div#agreement{overflow-y:auto;width:520px;height:80px;line-height:16px;}
#inputInfo td div#agreement a{color:#FF6C00;text-decoration:underline;}
.tpad5{padding-top:5px;}
#inputInfo td ul{margin:3px 0 0 0;}
#inputInfo td li input{width:20px;border:none;}
#inputInfo #AuthImg table{width:100%;border:none;}
#inputInfo #AuthImg table td{font-size:12px;text-align:left;border:none;}

/*2007-11-06*/
#approve{background:url(http://image.freechal.com/community/common/img_illust05.gif) 43px 20px no-repeat;}
#approve .cj_tit{padding:20px 0 0 160px;}
#approve p{padding:10px 0 15px 160px;}