/*body
{
	background-color: #ffffff;
}*/
.name
{
	font-family: µ¸¿ò, Arial;
	font-size: 13pt;
	font-weight: bold;
	color: #333333;
	background-color: #EDEDED;
}
.search
{
	font-family: µ¸¿ò, Arial;
	font-size: 9pt;
	background-color: #EDEDED;
}
.title
{
	font-family: µ¸¿ò, Arial;
	font-size: 11pt;
	font-weight: bold;
	color: #766756;
	background-color: #E1D9CD;
}
.thead
{
	font-family: µ¸¿ò, Arial;
	font-size: 9pt;
	font-weight: bold;
	color: #766756;
	background-color: #E1D9CD;
}
.thead:link
{
	color: #766756;
	text-decoration: none;
}
.thead:visited
{
	color: #766756;
	text-decoration: none;
}
.thead:hover
{
	color: #766756;
	text-decoration: none;
}
.funchelp
{
	font-family: µ¸¿ò, Arial;
	font-size: 9pt;
	font-weight: bold;
	color: #464646;
}
.list
{
	font-family: µ¸¿ò, Arial;
	font-size: 9pt;
	color: #333333;
	background-color: #f8faf5;
}
.list:link
{
	color: #333333;
	text-decoration: none;
}
.list:visited
{
	color: #333333;
	text-decoration: none;
}
.list:hover
{
	color: #333333;
	text-decoration: none;
}
.listrev
{
	font-family: µ¸¿ò, Arial;
	font-size: 9pt;
	color: #EDEDED;
	background-color: #333333;
}
.listrev:link
{
	color: #EDEDED;
	text-decoration: none;
}
.listrev:visited
{
	color: #EDEDED;
	text-decoration: none;
}
.listrev:hover
{
	color: #EDEDED;
	text-decoration: none;
}
.nav
{
	font-family: µ¸¿ò, Arial;
	font-size: 9pt;
	font-weight: bold;
	color: #333333;
	background-color: #F6F5EA;
}
.nav:link
{
	color: #333333;
	text-decoration: none;
}
.nav:visited
{
	color: #333333;
	text-decoration: none;
}
.nav:hover
{
	color: #333333;
	text-decoration: none;
}
.btn
{
	font-family: µ¸¿ò, Arial;
	font-size: 9pt;
	color: #333333;
	background-color: #E1D9CD;
}
.btn:link
{
	color: #333333;
	text-decoration: none;
}
.btn:visited
{
	color: #333333;
	text-decoration: none;
}
.btn:hover
{
	color: #333333;
	text-decoration: none;
}
.chead
{
	font-family: µ¸¿ò, Arial;
	font-size: 10pt;
	font-weight: bold;
	color: #766756;
	background-color: #F6F5EA;
}
.cdata
{
	font-family: µ¸¿ò, Arial;
	font-size: 10pt;
	color: #333333;
	background-color: #f8faf5;
}
.cdata:link
{
	color: #333333;
	text-decoration: none;
}
.cdata:visited
{
	color: #333333;
	text-decoration: none;
}
.cdata:hover
{
	color: #333333;
	text-decoration: none;
}
.calstab
{
	font-family: µ¸¿ò, Arial;
	font-size: 9pt;
	color: #ffffff;
	background-color: #68649b;
}
.caldtab
{
	font-family: µ¸¿ò, Arial;
	font-size: 9pt;
	color: white;
	background-color: #332a29;
}
.caldtab:link
{
	color: white;
	text-decoration: none;
}
.caldtab:visited
{
	color: white;
	text-decoration: none;
}
.caldtab:hover
{
	color: white;
	text-decoration: none;
}
.caldate
{
	font-family: µ¸¿ò, Arial;
	font-size: 13pt;
	color: #ffffff;
	background-color: #68649b;
}
.caldate:link
{
	color: #ffffff;
	text-decoration: none;
}
.caldate:visited
{
	color: #ffffff;
	text-decoration: none;
}
.caldate:hover
{
	color: #ffffff;
	text-decoration: none;
}
.calpref
{
	font-family: µ¸¿ò, Arial;
	font-size: 10pt;
	color: #ffffff;
	background-color: #68649b;
}
.calpref:link
{
	color: #ffffff;
	text-decoration: none;
}
.calpref:visited
{
	color: #ffffff;
	text-decoration: none;
}
.caldate:hover
{
	color: #ffffff;
	text-decoration: none;
}
.calhour
{
	font-family: µ¸¿ò, Arial;
	font-size: 9pt;
	font-weight: bold;
	color: #464646;
	background-color: #e9f1df;
}
.calhour:link
{
	color: #464646;
	text-decoration: none;
}
.calhour:visited
{
	color: #464646;
	text-decoration: none;
}
.calhour:hover
{
	color: #464646;
	text-decoration: none;
}
.summonth
{
	font-family: µ¸¿ò, Arial;
	font-size: 8pt;
	color: #464646;
	background-color: #b6d8d2;
}
.summonth:link
{
	color: #464646;
	text-decoration: none;
}
.summonth:visited
{
	color: #464646;
	text-decoration: none;
}
.summonth:hover
{
	color: #464646;
	text-decoration: none;
}
.sumyear
{
	font-family: µ¸¿ò, Arial;
	font-size: 8pt;
	color: #ffffff;
	background-color: #68649b;
}
.sumyear:link
{
	color: #ffffff;
	text-decoration: none;
}
.sumyear:visited
{
	color: #ffffff;
	text-decoration: none;
}
.sumyear:hover
{
	color: #ffffff;
	text-decoration: none;
}
.sumday
{
	font-family: µ¸¿ò, Arial;
	font-size: 7.5pt;
	color: #464646;
	background-color: #f8faf5;
}
.sumday:link
{
	color: #464646;
	text-decoration: none;
}
.sumday:visited
{
	color: #464646;
	text-decoration: none;
}
.sumday:hover
{
	color: #464646;
	text-decoration: none;
}
